---
import Layout from "../layouts/Layout.astro";
import { DashboardWithProvider } from "../components/dashboard/DashboardWithProvider";
---

<Layout title="10xCards - Dashboard">
  <main class="flex-1 overflow-y-auto">
    <DashboardWithProvider client:load />
  </main>
</Layout>
