---
import Layout from "../layouts/Layout.astro";
import { SettingsPageWithProvider } from "../components/settings/SettingsPageWithProvider";

/**
 * Settings page
 * PRD: US-003 - Zmiana hasła & US-004 - Usunięcie konta
 *
 * Protected route - requires authentication (middleware redirect)
 *
 * Tabs:
 * - Zmiana hasła: formularz z obecnym i nowym hasłem
 * - Usunięcie konta: przycisk z potwierdzeniem hasłem
 */
---

<Layout title="Ustawienia - 10xCards">
  <main class="flex-1 overflow-y-auto">
    <SettingsPageWithProvider client:load />
  </main>
</Layout>
